@font-face {
    font-family: "Archivo";
    src: url("../src/fonts/Archivo-Regular.ttf") format("opentype");
}

/* layout global */
body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  height: 100vh;
  overflow: hidden; /* empêche le scroll global */
}

/* MENU GAUCHE */
#menu {
  width: 30%;
  padding: 40px;
  display: flex;
  flex-direction: column; /* haut -> bas */
  gap: 10px;
  overflow: hidden; /* menu non scrollable */
  
}

/* items du menu */
.project-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 30px;
  text-align: left;
 /* font-family:'Times New Roman', Times, serif;*/
 font-family: "Archivo";
}

.project-link:focus,
.project-link:hover {
  transform: translateX(6px);
}

.thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* ZONE PROJET — cachée au départ */
#project-view {
  width: 65%;
  padding: 40px;
  display: none; /* devient block après clic */
  overflow-y: auto; /* cette zone uniquement scrollable */
}

.project-text {
  max-width: 650px;   /* ← largeur du texte */
  font-size: 16px;
  text-justify:inter-word;
  font-family: "Archivo";
}

/* style interne */
#project-view h2 {
  margin-top: 0;
  font-size: 40px;
  font-family: "Archivo";
  font-style: bold;
}

#project-view img {
  width: 100%;
  max-width: 900px;
  margin: 24px 0;
  border: 1px solid #ddd;
  display: block;
}

.about-link {
  margin-top: auto; /* pousse le bouton en bas */
  font-size: 30px; 
}
